<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.education.mapper.UserFollowMapper">

    <select id="followList" parameterType="String" resultType="com.education.pojo.vo.UserRawVO">
        select
            u.id,
            u.nickname,
            u.avatar,
            u.gender,
            u.location
        from edu_follow uf
        left join education_app.edu_user u on u.id = uf.followed_id
        where u.delete_time is null and uf.follower_id = #{currentId}
        order by uf.create_time desc
    </select>

    <select id="fansList" parameterType="String" resultType="com.education.pojo.vo.UserRawVO">
        select
            u.id,
            u.nickname,
            u.avatar,
            u.gender,
            u.location
        from edu_follow uf
        left join education_app.edu_user u on u.id = uf.follower_id
        where u.delete_time is null and uf.followed_id = #{currentId}
        order by uf.create_time desc
    </select>

</mapper>
